@import utils

html, body
    background-color: #2b81b3
    font-family: Helvetica Neue, Helvetica, Arial

h1 
    margin: 4rem

h2 
    margin: 2rem

button
    +round-border(0.5em, black, solid, 1px)
    height: 1.7rem
    background-color: #0c4b82
    color: white
    margin-bottom: 0.7rem

input
    +round-border(0.5em, black, solid, 1px)
    padding: 0.25em

.logReg
    height: 3rem
    width: 10rem
    widht: 5rem
    margin-left: 3rem
    border: 0.2rem solid #333459
    border-radius: 0.2rem
    padding: 2rem 1rem 1rem 3rem
    background-color: #9292d6

form 
    margin: 2rem 0 2rem 2rem